*
{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar
{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo
{
    height: 50px;
    width: 100px;
}
.logo
{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border
{
    border: 2px solid transparent;
}
.border:hover
{
    border: 2px white solid;
}
.add-first
{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-second
{
   color: white; 
   font-size: 1rem;
   margin-left: 3px;
}
.add-icon
{
    display: flex;
    align-items: center;
}

/*box 3*/
.nav-search{
    display: flex;
    width: 620px;
    background-color: yellow;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}
.nav-search:hover
{
    border: 2px orange solid;
}
.search-select
{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input
{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon
{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
/*box 4*/
span{
    font-size: 0.8rem;
}
.nav-second
{
    font-size: 0.85rem;
    font-weight: 700;
}
/*box 5*/
.nav-cart i
{
    font-size: 30px;
}
.nav-cart
{
    font-size: 0.85rem;
    font-weight: 700;
}

/*panel*/
.panel
{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    
}
.panel-ops p
{
    display: inline;
    margin-left: 20px;
}
.panel-ops 
{
    width: 70%;
    font-size: 0.85rem;
}
.panel-ops a
{
    text-decoration: none;
    color: white;
}
.panel-deals
{
    font-size: 0.9rem;
    font-weight: 700;
}
.panel-all
{
    margin-left: 4rem;
    margin-right: 3rem;
}

/*second panel*/


.panel_two
{
    height: 33px;
    background-color: #fafafa;
    color: #0f1111;
    border-bottom: 1px solid rgba(0,0,0,.1);
    display: flex;
    padding: 0px 9px 0px 15px;
    cursor: pointer;
    font-size: 12px;
    
}
.yellow
{
    padding: 0px 11px 0px 11px;
    align-self: center;
}

.yellow:hover
{
    border-bottom:2px solid #f90;
    color:#e47911;
    padding-bottom: 10px;
    padding-top: 10px;
}

.bold
{
    padding: 12px 16px 8px 16px;
    height: 40px;
    font-size: 28px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.president
{
   height:104px;
   background-image: url('https://images-na.ssl-images-amazon.com/images/G/01/DiscoTec/2024/Deals/Presidents_Day/LP/D_1500x125_Prez_Day.jpg');
   background-size:cover;
   margin-bottom: 14px;
   
}

.list
{
    height: 163px;
    display: flex;
    background-color:#eaeded ;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 12px;

}
.image_circle
{
    height: 85px;
    width: 85px;
    background-size: cover;
    border-radius: 50%;
  

}
.circle_text
{
    font-size: 14px;
    padding: 10px 5px 0;
    line-height: 20px;
    
    
}
.fixed
{
    height: 140px;
}

.Featured
{
    height: 22px;
    width: 183.6px;
    background: #f0f2f2;
    border-radius:8px;
    font-size: 11px;
    border-color:#D5D9D9 ;
    box-shadow: 0 2px 5px 0 rgba(213,217,217,0.5);

    
}
.sort_by
{
    margin: 0px 20px 8px;
    display: flex;
    flex-direction: row-reverse;

}

/*main*/

.main
{
    border-top: solid 1px #D5DBDB;
}
.discount
{
    width: 241px;    
    height: 800px;
    padding-left: 20px;
    padding-top: 20px;
    line-height: 20px;
    margin: 0 0 0 18px;

}

.box_border
{
    border-right: solid 1px #D5DBDB;
    border-bottom:solid 1px #D5DBDB;
}

.deep
{
   font-weight: 700;

}

.sizing
{
    font-size: 14px;
    color: #007185;
}

.discount h4
{
    padding: 20px 0px 5px;
    font-size: 18px;
}
.prime
{
    height: 30px;
    width: 30px;
}